<script type="text/javascript">
  function validate_change(){
    customer_name = $('#customer_empname').val();
    customer_marital_status = $('#customer_marital_status').val();
    email_id = $('#email_id').val();
    if (customer_name == ""){
      alert('Please enter customer name');
      return false;
    }else if (customer_marital_status == ""){
      alert('Please enter customer marital status');
      return false;
    }
    else if (email_id == ""){
      alert('Please enter valid email id');
      return false;
    }
  }
</script>


<div class="container-fluid col-md-6">
  <center>
    <h3 style="color:red">Enter Customer Information</h3>
  </center>
 <br/>

  <div align'center'>
    <%= form_with(model: @customer, remote: true,:html=>{:id=>"customer_forms",:class => "form-horizontal nomargin"}) do |form| %>
      <%= render 'error' %>
      
      <div class="form-row">
        <div class="form-group col-md-12">
          <font color="red">*</font> <%= form.label :customer_name %>
          <%= form.text_field :empname, class:"form-control", id: :customer_empname, size:'4' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <font color="red">*</font> <%= form.label :mobile_no %>
          <%= form.text_field :mobile_no,class:"form-control", id: :mobile_no %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <font color="red">*</font> <%= form.label :email %>
          <%= form.text_field :email, class:"form-control", id: :email_id %>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= form.label :perm_res_name %>
          <%= form.text_field :perm_res_name, class:"form-control", id: :perm_res_name %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= form.label :date_of_joining %>
          <%= form.date_field :date_of_joining, class:"form-control", id: :customer_date_of_joining %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= form.label :date_of_birth %>
          <%= form.date_field :date_of_birth, class:"form-control", id: :customer_date_of_birth %>
        </div>
      </div>

      <center>
        <div class="form-group">
          <%= form.submit onclick:"return validate_change();", class:"btn btn-success"%>
        </div>
      </center>

    <% end %>
  </div>
</div>