<div class="container">
  <p id="notice"><%= notice %></p>

  <% if @rooms.present? %>
    <div id = 'customer_info'>
      <center><h3 style="color:red"> Room Details </h3></center>
      <table class="table">
        <thead>
          <tr>
            <td scope="col"> Room Number </td>
            <td scope="col"> Capacity </td>
            <td scope="col"> Type of Sharing </td>
          </tr>
        </thead>

        <tbody>
          <% @rooms.each do |room| %>
            <tr scope="row">
              <td> <%= room.room_no %> </td>
              <td> <%= room.capacity %> </td>
              <td> <%= room.type_of_sharing %> </td>
              <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>  
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <h3> Rooms Not Present</h3>
  <% end %>
  <br>

  <%= link_to 'New Room', new_room_path, class:"btn btn-success" %>
</div>