<p id="notice"><%= notice %></p>

<p>
  <strong>Room Number:</strong>
  <%= @room.room_no %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Type of sharing:</strong>
  <%= @room.type_of_sharing %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>